<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <div class="contenedor-header">
            <div class="logo-head">
                <a href="">
                    <img src="./../../../assets/favicon_white.png" alt="">
                </a>
            </div>
            <div class="opciones">
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a routerLink="/drivers">Drivers</a></li>
                        <li><a href="">Teams</a></li>
                        <li><a routerLink="/clasification">Classification</a></li>
                        <li><a href="">Circuits</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    
</body>
</html>
